{% load static %}
<html>
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static "calculate/css/mycss.css" %}">
</head>
<body {% if is_admin == True %} class="admin" {% else %} class="index" {% endif %}>
    <div class="container">
        <form action="/calculation/admin" method="post">
            {% csrf_token %}
            <ul class="nav nav-tabs">
                    <li><a href="#sheet1">Sheet 1</a></li>
                    <li><a href="#sheet2">Sheet 2</a></li>
                    <li><a href="#sheet3">Sheet 3</a></li>
            </ul>
            <div class="tab-content">
                <div id="sheet1" class="tab-pane fade">
                    <h3>sheet 1</h3>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          {% for col in cols%}
                              <th scope="col">{{ col }}</th>
                          {% endfor %}
                        </tr>
                      </thead>
                      <tbody>
                      {% for r in rows%}
                          <tr class='sheet1'>
                             <td>{{r}}</td>
                             {% for col in cols%}
                                {%my_tag col r 'sheet1' sheets as my_dict %}
                                <td><input type="text" id="{{col}}{{r}}"
                                        name="cell-sheet1-{{col}}-{{r}}"
                                        data-cell="sheet1 {{col}}{{r}}"
                                        data-sheet="sheet1" 
                                        {% if my_dict.type == 'formula' %}
                                            data-formula = '{{ my_dict.value | slice:"1:" }}'
                                            placeholder="{{ my_dict.value }}"
                                            {% if is_admin == True %}
                                                value="{{my_dict.value}}"
                                            {% endif %}
                                        {% else %}
                                            value="{{my_dict.value}}"
                                        {% endif %}>
                                </td>
                             {% endfor %}
                          </tr>
                          {% endfor %}
                      </tbody>
                    </table>
                </div>
                <div id="sheet2" class="tab-pane fade">
                    <h3>sheet 1</h3>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          {% for col in cols%}
                              <th scope="col">{{ col }}</th>
                          {% endfor %}
                        </tr>
                      </thead>
                      <tbody>
                        <tbody>
                            {% for r in rows%}
                                <tr>
                                   <td>{{r}}</td>
                                   {% for col in cols%}
                                      {%my_tag col r 'sheet2' sheets as my_dict %}
                                      <td><input type="text" id="sheet2_{{col}}{{r}}"
                                              name="cell-sheet2-{{col}}-{{r}}"
                                              data-cell="sheet2 {{col}}{{r}}"
                                              data-sheet="sheet2" 
                                              {% if my_dict.type == 'formula' %}
                                                  data-formula = '{{ my_dict.value | slice:"1:" }}'
                                                  placeholder="{{ my_dict.value }}"
                                              {% else %}
                                                  value="{{my_dict.value}}"
                                              {% endif %}>
                                      </td>
                                   {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                    </table>
                </div>
                <div id="sheet3" class="tab-pane fade">
                    <h3>sheet 1</h3>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          {% for col in cols%}
                              <th scope="col">{{ col }}</th>
                          {% endfor %}
                        </tr>
                      </thead>
                      <tbody>
                        {% for r in rows%}
                            <tr>
                               <td>{{r}}</td>
                               {% for col in cols%}
                                  {%my_tag col r 'sheet3' sheets as my_dict %}
                                  <td><input type="text" id="sheet3_{{col}}{{r}}"
                                          name="cell-sheet3-{{col}}-{{r}}"
                                          data-cell="sheet3 {{col}}{{r}}"
                                          data-sheet="sheet3" 
                                          {% if my_dict.type == 'formula' %}
                                              data-formula = '{{ my_dict.value | slice:"1:" }}'
                                              placeholder="{{ my_dict.value }}"
                                          {% else %}
                                              value="{{my_dict.value}}"
                                          {% endif %}>
                                  </td>
                               {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            {% if is_admin %}
                <input type='submit' value="save" class="btn btn-primary">
            {% endif %}
        </form>
    </div>
  <script src="{% static 'calculate/js/my_js.js' %}"></script>
</body>
</html>

