{% load static %}
<html>
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    
    <link rel="stylesheet" href="{% static "calculate/css/mycss.css" %}">
</head>
<body {% if is_admin == True %} class="admin" {% else %} class="index" {% endif %}>
    <div class="container">
        <form action="/calculation/admin" method="post">
            {% csrf_token %}
            <ul class="nav nav-tabs">
                    <li><a href="#sheet1">Sheet 1</a></li>
                    <li><a href="#sheet2">Sheet 2</a></li>
                    <li><a href="#sheet3">Sheet 3</a></li>
            </ul>
            <div class="tab-content">
                <div id="sheet1" class="tab-pane fade">
                    <h3>sheet 1</h3>
                    {{ sheet1_inputs |safe }}

                </div>
                <div id="sheet2" class="tab-pane fade">
                    <h3>sheet 2</h3>
                    {{ sheet2_inputs |safe }}
                </div>
                <div id="sheet3" class="tab-pane fade">
                    <h3>sheet 3</h3>
                    {{ sheet3_inputs |safe }}
                </div>
            </div>
            <br>
            {% if is_admin %}
                <input type='submit' value="save" class="btn btn-primary">
            {% endif %}
        </form>
    </div>
  <script src="{% static 'calculate/js/my_js.js' %}"></script>
</body>
</html>

